@model Jespers_slutprojekt.Models.CoursesAndTreatments

@{
    ViewData["Title"] = "Create";
}

@inject LanguageService language

<h1 class="create-booking">@language.Getkey("createBooking")</h1>

@*<h4 class="courses-and-treatments">@language.Getkey("coursesAndTreatments")</h4>*@

<hr />

@*
    This line creates a crash with the following ERROR :
    "FormatException: Index (zero based) must be greater than or equal to zero and less than the size of the argument list."
    @Html.TextBox("", String.Format("{0:d}", Model.ToShortDateString()), new { @class = "datefield", type = "date" })
    @Html.TextBox("12/12/2012", String.Format("{0:d}"), new { @class = "datefield", type = "date" })
*@

<!--
<%if(Request.ServerVariables("HTTP_REFERER") <> "http://www.example2.org/") then

URL = "http://api.ipinfodb.com/v3/ip-country/?key=c184c2d089c7763a81d7701a662b57fe3bf90dbfd8bf60d29948878531e24472&ip=" & Request.ServerVariables("REMOTE_ADDR")
                Set conn = Server.CreateObject("MSXML2.ServerXMLHTTP")
            conn.open "GET", URL, False, "", ""
            conn.send
                UserCountry = conn.ResponseText
                conArray = Split(UserCountry, ";")
            if ((conArray(3) = "US")) Then
                response.redirect("http://www.example2.org/")
            end if
end if
 %>

if (Request.ServerVariables("HTTP_REFERER") == "")
{
    System.Diagnostics.Debug.WriteLine("IF");
    System.Diagnostics.Debug.WriteLine(Request.ServerVariables("HTTP_REFERER"));
}
else
{
    System.Diagnostics.Debug.WriteLine("ELSE");
}

if(System.Web.HttpContext.Current.Request.ServerVariables["HTTP_REFERER"])
    System.Diagnostics.Debug.WriteLine("IF");
else
    System.Diagnostics.Debug.WriteLine("ELSE");
-->
<!--
string absoluteurl = HttpContext.Request.Path;
System.Diagnostics.Debug.WriteLine(absoluteurl);
-->
<!--
<p>
    <b>You are browsing this site from:</b>
    <%Response.Write(Request.ServerVariables("http_referer"))%>
</p>
-->
<!--
    example https://www.w3schools.com/asp/coll_servervariables.asp


<%if(Request.ServerVariables("HTTP_REFERER")) then
    System.Diagnostics.Debug.WriteLine("IF");
end if
 %>
<%else
    System.Diagnostics.Debug.WriteLine("ELSE");
end if
 %>
-->

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseStartDate" class="control-label"></label>
                <input asp-for="CourseStartDate" class="form-control" data-val="true" data-val-required="Date is required"
                       id="DatePicker" name="CourseStartDate" type="date" value="1/11/1989" />
                <span asp-validation-for="CourseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" data-val="true" data-val-required="Date is required"
                       id="DatePicker" name="BirthDate" type="date" value="1/11/1989" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursePrice" class="control-label"></label>
                <input asp-for="CoursePrice" class="form-control" />
                <span asp-validation-for="CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedUpDate" class="control-label"></label>
                <input asp-for="SignedUpDate" class="form-control" />
                <span asp-validation-for="SignedUpDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
