@{
    ViewData["Title"] = "Access Consciousness";
}

<h1>@ViewData["Title"]</h1>

<center><img src="ACCESS_Banner_Horizontal_[web_low_res].jpg" /></center>
<br />
<center>
    <div style="width:800px; margin:20px; text-align:justify;">
        <p align="center"><font size="3" face="Comic Sans MS">:::ACCESS:::</font></p>
        Access is just a quicker way of saying Access Consciousness.  Access was created by the vision of the founder Gary Doulas to be able to work with that which he would like, that would be fun, that he would learn stuff all the time and create consciousness in all areas of both his and others lives.<br />
        <br />
        If there is something in your life that you cannot change then the tools of Access Consciousness are excellent tools for you.  Even if you in the beginning truly would not like to change something a lot of the processes are creating enough consciousness for you.  And sooner or later you will come to a crossroad where you will either have to use too much energy to continue your unconsciousness or you would just change.<br />
        <br />
        Among the tools that exist the tool about what is true is great to have at hand.  So, everything that is light or feels light is true.  And everything that is heavy or feels heavy is not true (false).  So how can you use the tool then?  I.e. if you are aware of a head pain.  Then you can ask, "Does this belong to me or someone else?".  As a follow up question you can tell yourself, "Does it belong to me?", and if it lightens up, i.e. the headache is not perceived so annoying any more, then it is true that it does not belong to you.  Does it get heavier it means that the headache belongs to you.<br />
        <br />


        <p align="center"><font size="3" face="Comic Sans MS">:::ACCESS RECORDINGS:::</font></p>
        If you truly would like to change your situation about money you have the chance to take a step towards a more and joyful life with money.  What will it take for you to choose to change your situation with money RIGHT NOW?  And the same goes for sex.  What if you stopped living in the same moment you chose not to be sexual?  What if you could go back to the living person you were then?<br />
        <br />
        <div style="height:312px; width:300px; background-image:url(access blue-dandelion-resized.jpg); float:left;">
            <img src="access blue-dandelion-resized.jpg" style="height:200px; width:300px;" />
        </div>
        <div style="height:300px; width:500px; float:left;">
            <center>
                In March 2011 Gary Douglas and Dain Heer recorded a free telecall about sex.<br />
                Download it here: <a href="GaryDain_SexCallMarch2011.mp3">Gary & Dain Sex call March 2011</a><br />
                Or listen to it here: <a href="GaryDain_SexCallMarch2011.mp3">Gary & Dain Sex call March 2011</a><br />
                <br />
                In January and February 2010 Gary/Dain also recorded 2 telecalls about money.<br />
                Download here: <a href="100105_Access_GOLD_Jan.mp3">Access GOLD call Jan 2011</a><br />
                Download here: <a href="100204_Access_GOLD_Feb.mp3">Access GOLD call Feb 2011</a><br />
                <br />
                Or why not make your life easier by finding out how you change your points of views?
                Listen to this here (click on the link): <a href="http://www.audioacrobat.com/sa/W5bfnBqT">'Interesting Point of View'-link</a><br />
                <!-- Eller lyssna här: 100105 Access GOLD Jan.mp3<br />
            Eller lyssna här: 100204 Access GOLD Feb.mp3<br /> -->
            </center>
        </div>
        <br />
        <br />


        <p align="center"><font size="3" face="Comic Sans MS">:::ACCESS MANTRA:::</font>
        </p>
        If you say this mantra 10 times in the morning and 10 times every night your life will change very dynamically.<br />
        <p align="center"><font size="3" face="Comic Sans MS"><em>"All of life comes to me with ease, joy and glory."</em></font></p>
    </div>
</center>
