@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<center>
    <div style="width:800px; margin:20px; text-align:justify;">
        <p align="center"><font size="3" face="Comic Sans MS">:::CONTACT:::</font></p>
        <p align="center">
            <img src="~/pics/Ger_banan.JPG" width="600" height="450" alt="Givmildhet är viktigt i mitt liv." /> <br />
        </p>
        You will find me about 10 minutes walk from Persborgs train station.  In the street
        Magnoliagatan 7.<br>
        Call me or send an email to book a time that suits you.  Is it The
        Reconnection you should be aware of that it is divided into 2 sessions.
        Between the first and second session there need to be at least one
        night's sleep or 24 hours as well as a maximum 72 hours.  That is the
        second session cannot take place more than 3 days after the first one.  A
        treatment in The Reconnection and Reconnective Healing cannot be given
        the same day.  It is also recommended that you take at least one
        treatment in Reconnective Healing before you get The Reconnection.<br>
        <br>


        <p align="center">
            <font size="3">
                Jesper Nilsson<br>
                Magnoliagatan 7<br>
                21362  Malmö<br>
                Cell: +46 766 150222<br>
                Email: <a href="mailto:jesper.nilsson@greencoaching.net">jesper.nilsson@greencoaching.net</a><br>
            </font>
        </p>
        <br>

        <p align="center"><font size="3" face="Comic Sans MS">:::HISTORICALLY:::</font></p>
        In the year of 1994 I started my education in Master of Science towards
        Telecommunication (Civil Engineer) and started
        to work as IT-consult 1999.  After my participation in the Swedish
        Championships in Beachvolley in the summer of 2008 I had reached my goal
        within this sport.  I lost the urge to continue with this sport on a
        semi-professional level.  Instead I have taken a new step in my personal
        development and attained A LOT of courses within personal development,
        health and treatments.<br>
        <br>

        <p align="center">
            <img src="Jesper_beach_poserar.JPG" alt="Beachvolley är också viktigt i mitt liv." width="600" height="450"> <br>
        </p>
        <u>Year 2007:</u>
        <br><ul>
            October, Avancerad självkännedom steg 1, Mullingstorp / Norrköping
            <br>
        </ul>
        <br>

        <u>Year 2008:</u>
        <br><ul>
            August, Kärlek &amp; Närvaro, Vassfaret, Norway
            <br>
            September, Art of Living step 1, Malmö
            <br>
            October, Resonansbehandling, Stockholm
            <br>
            October, Änglamassage, Stockholm
            <br>
            December, Ayurveda step 1, Malmö
            <br>
        </ul>
        <br>

        <u>Year 2009:</u>
        <br><ul>
            January, Grundkurs Shamanism, Hallandsåsen
            <br>
            January, Grunderna i Energiterapi, Stockholm
            <br>
            January, Yoga Kendra initiation, Malmö
            <br>
            January, Ayurveda step 2, Malmö
            <br>
            February, Själsresa &amp; Orbs, Sannanda kursgård
            <br>
            March, Själsresa grundkurs, Sannanda kursgård
            <br>
            March, Reconnective Healing, Stockholm
            <br>
            March, The Reconnection, Stockholm
            <br>
            April, Människan är en flerdimensionell &amp; ... / Kvantfysiken avslöjar... Celeste Institutet, Sandor A Markus, Stockholm
            <br>
            April, Art of Living step 2, Bad Antogast, Germany
            <br>
            April, workshop Lise Bourbeau, Malmö
            <br>
            May, Access Bars, Lund
            <br>
            May, Art of Living step 3, Bad Antogast, Germany
            <br>
            May, Art of Living step 1, Malmö
            <br>
            June, Art of Living step 2, Dalarna
            <br>
            August, Access Bars, Helsingborg
            <br>
            August, Access Foundation, Lund
            <br>
            August, Access Level 1, Lund
            <br>
            August - November, Channel Surfing, Distance Class
            <br>
            September, seminar Edgar Cayce conference, Furuboda
            <br>
            September, Access Bars, Helsingborg
            <br>
            September, Access Level 2 &amp; 3, Stockholm
            <br>
            September, Access Embodiment for conscious healing, Stockholm
            <br>
            October, Access Embodiment for conscious healing, Malmö
            <br>
            October - November, Access Consciousness: End the stupidity, create your own reality, Costa Rica
            <br>
            October - November, Energy Synthesis of Communion, Costa Rica
            <br>
            November, Access Bars, Malmö
            <br>
            November, Access Level 2 &amp; 3, Mooloolaba, Australia
            <br>
            December, Access Consciousness: Beyond the 7 days, Mooloolaba, Australia
            <br>
            December, Access Consciousness: Facilitators class, Mooloolaba, Australia
            <br>
        </ul>
        <br>


        <u>Year 2010:</u>
        <br><ul>
            January, Access Level 1, Lund
            <br>
            February, Talk To The Entities, Malmö
            <br>
            February, Talk To The Entities, Stockholm
            <br>
            February, Access Foundation, Lund
            <br>
            February, Access Body Class, Helsingborg
            <br>
            March, Access Consciousness: Choice... The creation of life, Mission Beach, Australia
            <br>
            March, Talk To The Entities, Mission Beach, Australia
            <br>
            March, X-Men class, Mission Beach, Australia
            <br>
            May, Access Foundation, Lund
            <br>
            May, Access Bars, Malmö
            <br>
            May, Access Bars, Malmö
            <br>
            July, Access Level 2 &amp; 3, Malmö
            <br>
            July, Access Conscious Children, X-Men class, Malmö
            <br>
            September, Access Level 2 &amp; 3, Dublin, Ireland
            <br>
            October, Access Consciousness: The beginning...  Different reality, different world, Costa Rica
            <br>
            November, Access Foundation, Los Angeles, USA
            <br>
            November, Access Level 1, Los Angeles, USA
            <br>
            November - December, Talk To The Entities TELECALL, World
            <br>
        </ul>
        <br>

        <u>Year 2011:</u>
        <br><ul>
            January - February, Talk To The Entities TELECALL, World
            <br>
            February, Access Level 2 &amp; 3, Stockholm
            <br>
            February, Access Consciousness: Facilitators class, Rome, Italy
            <br>
            February - March, Talk To The Entities TELECALL, World
            <br>
            February - May, Talk To The Entities ADVANCED TELECALL, World
            <br>
            March, Access Level 2 &amp; 3, Houston, USA
            <br>
            April - May, Talk To The Entities TELECALL, World
            <br>
            May, Yoga Kendra initiation, Malmö
            <br>
            May - June, Talk To The Entities ADVANCED TELECALL, World
            <br>
            June, 9 Trannies, Denver, USA
            <br>
            July, Access Level 2 &amp; 3, Köpenhamn, Danmark
            <br>
            July, Access Foundation, Malmö
            <br>
            August - September, Talk To The Entities ADVANCED TELECALL, World
            <br>
            September, Talk To The Entities, Malmö
            <br>
            September, Energetic Synthesis of Being, Malmö
            <br>
            October, 7-days - The Beginning; Different Reality, Different World, Costa Rica
            <br>
            November, Access Foundation, Online
            <br>
            November, Access Level 1, Online
            <br>
            November - December, Talk To The Entities TELECALL, World
            <br>
        </ul>
        <br>

        <u>Year 2012:</u>
        <br><ul>
            January, Access Body Class, Malmö
            <br>
            January, Beyond 7 days, Mooloolaba, Australia
            <br>
            January, Beyond ESB, Mooloolaba, Australia
            <br>
            March, Access Facilitators Class, Rome, Italy
            <br>
            March, Talk To The Entities Beginning, Copenhagen, Denmark
            <br>
            June, Talk To The Entities Beginning, Stockholm
            <br>
            June, Access Level 2 &amp; 3, Copenhagen, Denmark
            <br>
            June, Being You, Changing The World, Malmö
            <br>
            July, Talk To The Entities Beginning, London, England
            <br>
            August, Talk To The Entities Beginning, Cork, Ireland
            <br>
            August, Talk To The Entities Intermediate, Copenhagen, Denmark
            <br>
            August - December, Bikram Yoga Malmö, Malmö
            <br>
        </ul>
        <br>

        <u>Year 2013:</u>
        <br><ul>
            January - April, Bikram Yoga Malmö, Malmö
            <br>
            January - April, Talk To The Entities ADVANCED TELECALL
            <br>
            August, Access Foundation, Helsingborg
            <br>
            August, Access Level 1, Helsingborg
            <br>
        </ul>
        <br>

        <u>Year 2014:</u>
        <br><ul>
            July, Access Consciousness Advanced Body Class, Copenhagen, Denmark
            <br>
            August, Access Foundation, Helsingborg
            <br>
            August, Access Level 1, Helsingborg
            <br>
            November, Access Foundation, Helsingborg
            <br>
            November, Access Level 1, Helsingborg
            <br>
        </ul>
        <br>

        <u>Year 2015:</u>
        <br><ul>
            February, 10 day Vipassana silent retreat, Ödeshög
            <br>
            April, Access Energetic Facelift, Helsingborg, Sweden
            <br>
            June, Access Consciousness 9-trannies, Copenhagen, Denmark
            <br>
        </ul>
        <br>

        <u>Year 2016:</u>
        <br><ul>
            July, High On Life Festival, Estonia
            <br>
            October, Access Body Class, Tallinn
            <br>
            November, 8-day Darkness Retreat, Estonia
            <br>
        </ul>
        <br>

        <u>Year 2017:</u>
        <br><ul>
            May, Enlightenment Intensive (with Kjell Gustafsson), Sjövik / Allingsås
            <br>
        </ul>
        <br>

        <u>Year 2018:</u>
        <br><ul>
            April, EDGE event (with Dean Graziosi), Scottsdale
            <br>
        </ul>
        <br>

        <u>Year 2019:</u>
        <br><ul>
            November, Access Foundation, Helsingborg
            <br>
        </ul>
        <br>

        <u>Year 2020:</u>
        <br><ul>
            August, A Course In Miracles (with Ulla Wallin), Västraby Gård
            <br>
            October, Unleash The Power Within (with Tony Robbins), Online
            <br>
        </ul>
        <br>

        <u>Year 2021:</u>
        <br><ul>
            June, Unleash The Power Within (with Tony Robbins), Online
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2009:</u>
        <br><ul>
            November, Access Bars, Malmö
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2010:</u>
        <br><ul>
            February, Access Bars, Malmö
            <br>
            June, Access Bars, Malmö
            <br>
            August, Access Bars, Malmö
            <br>
            October, Access Bars, Kristianstad
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2011:</u>
        <br><ul>
            January, Access Bars, Naples, USA
            <br>
            October, Conscious Computing taster, Hotel Tirol, Costa Rica
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2012:</u>
        <br><ul>
            February, Access Foundation, Örebro
            <br>
            March, Access Bars, Malmö
            <br>
            March, Access Bars, Malmö
            <br>
            May, Access Foundation, Malmö
            <br>
            May, Access Level 1, Malmö
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2013:</u>
        <br><ul>
            June, Access Bars, Lund
            <br>
        </ul>
        <br>

        <u>Classes held by me year 2015:</u>
        <br><ul>
            February, Access Bars, Malmö
            <br>
        </ul>
        <br>

        <p align="center">
            <img src="Vassfaret_husutsikt.JPG" alt="Hope your heart is touched just like mine." width="600" height="450"> <br>

        </p><p align="center"><font size="3" face="Comic Sans MS">:::FUTURE:::</font></p>



        <u>Year 2021, upcoming classes:</u>
        <br>
        <ul>
            NONE
            <br>
        </ul>
        <br>

        <br>
        <br>
        I think it is quite relevant that as therapist, masseur or coach really know
        what I am talking about so I am listing above the courses I take
        interest in.  Except all these courses I have attended and conducted
        myself I have also during my spare time educated myself and have altogether
        about 7000 - 8000 hours of studies about health and consciousness and about
        900 hours practical experience of bodywork.<br>
        <br>
        A female acquaintance told me one day "I am not conducting this course
        for my own sake.  I conduct it entirely for the participants.".  When
        you come to me you can have this in your mind.  I am here for you and
        have all your wellness in thought.  Maybe you come to me for a massage
        but leaves the treatment with tips of how to improve your relationship.
        Or you came to me for tips about your choice of career but leaves with a
        big peace in your mind and harmony.<br>
        <br>
        You might have heard it before.  A holistical approach.  It means that I
        treat you from not only one dimension, but I have all of you in focus,
        physically, mentally, spiritually, emotionally and how/what you think.<br>
        <br>
        What value am I giving (do I offer) to you?  My thought is that if I
        cannot help you I will transfer you to another excellent therapist.
        Here is my wide competence within different alternative techniques
        important.  What do I mean?  I might be limited in the areas where I am
        working, energy healing and coaching.  But you might as well need help
        with your diet, your hormones, your walking and posture, your teeth, your
        sleep, your dreams or something else that you did not think about.<br>
        <br>
        The world is unbelievably beautiful, IF we are open to see it.  Let us
        save and live for it.  Help me to help you so that we approach this goal
        by you reaching your balance and harmony.<br>
        <br>



        <a name="costs"></a><p align="center"><font size="3" face="Comic Sans MS">:::COSTS:::</font></p>
        My tariff is like:<br>
        <br>

        <ul>
            <b>
                <font color="#116633">Be yourself: 1000 SEK / session / per person<br></font>
                <font color="#559900">Access MTVSS: 1000 SEK / session<br></font>
                <font color="#889900">Access Bars: 1000 SEK / session<br></font>
                <font color="#889900">Access Energetic Facelift: 1000 SEK / session<br></font>
                <font color="#009900">Reconnective Healing: 1000 SEK / session<br></font>
                <font color="#004400">The Reconnection: € 333 (1 treatment is 2 sessions) <br></font>
                <font color="#774433">Änglamassage: 1000 SEK / session<br></font>
                <font color="#886688">Triggerpunktsmassage: 1000 SEK / session<br></font>
            </b>
            <br>
        </ul>

        <p align="center">
            <img src="Blombukett.JPG" alt="Hoppas ditt hjärta berörs liksom mitt." width="450" height="600"> <br>


        </p><p align="center"><font size="3" face="Comic Sans MS">:::THANK YOU:::</font></p>
        &nbsp; . Thanks to my family that gives me the strength to continue working in the alternative area.<br>
        &nbsp; . Thank you Sri Sri Ravi Shankar for giving me the possibility to take the courses within the organization Art of Living.<br>
        &nbsp; . Thank you Siddhartha Gautama for gifting us the techniques of Vipassana meditation.<br>
        &nbsp; . Thanks to Barbara Ann Brennan and Heyoan that let me use the text about world peace on my homepage.<br>
        &nbsp; . Thanks to Gary Douglas and Dain Heer that developed Access Consciousness and Shannon O'Hara that opened up for the possibilities
        that exist in the world.<br>
