@{
    ViewData["Title"] = "Green Coaching";
}

@inject LanguageService language

<div class="text-center">
    <h1 class="display-4">@language.Getkey("welcome")</h1>
    <h5 class="below welcome">:::WELCOME TO GREEN COACHING AND WHAT YOU HAVE BEEN LOOKING FOR ALL OF LIFE - YOU:::</h5>
</div>
<p align="center">
    @*<img src="@Url.Content("~/Pics/Vassfaret_sjo_resized.jpg")" alt="Spegling av din själ" />
    <img src="~/Pics/Vassfaret_sjo_resized.jpg" width="800" height="500" alt="test 2" />
    <img src="../wwwroot/pics/Vassfaret_sjo_resized.jpg" width="800" height="500" alt="test 4" />
    *@
    <br />
    <img class="first-page-picture" asp-area="Home" asp-page="Index" src="@Url.Content("~/Pics/Vassfaret_sjo_resized.jpg")" alt="Spegling av din själ" />
    <br />

</p>
