@{
    ViewData["Title"] = "Quotes";
}
<h1>@ViewData["Title"]</h1>

"Do what you can, with what you have, where you are."
<br />
 - <em><strong>Theodore Roosevelt</strong></em>
<br />
<br />

"People are not lazy. They simply have impotent goals - that is, goals that do not inspire them."
<br />
 - <em><strong>Anthony Robbins</strong></em>
<br />
<br />

"The cause of all negative emotions is a disruption in the body’s energy system."
<br />
 - <em><strong>Roger Callahan</strong></em>
<br />
<br />

"Loneliness and the feeling of being unwanted is the most terrible poverty."
<br />
 - <em><strong>Mother Teresa</strong></em>
<br />
<br />

"I have learnt silence from the talkative, toleration from the intolerant, and kindness from the unkind; yet strange, I am ungrateful to these teachers."
<br />
 - <em><strong>Kahlil Gibran</strong></em><strong></strong>
<br />
<br />

"A person who aims at nothing is sure to hit it."
<br />
 - <em><strong>Unknown</strong></em>
<br />
<br />

"Though we travel the world over to find the beautiful, we must carry it within us or find it not."
<br />
 - <em><strong>Ralph Waldo Emerson</strong></em><strong></strong>
<br />
<br />

"Every human being is the author of his own health and disease."
<br />
  - <em><strong>Buddha</strong></em>
<br />
<br />

"For every failure, there's an alternative course of action. You just have to find it. When you come to a roadblock, take a detour."
<br />
 - <em><strong>Mary Kay Ash, Founder of Mary Kay Cosmetics</strong></em><strong></strong>
<br />
<br />

"We don't see things as they are. We see things as we are."
<br />
- <em><strong>Anais Nin</strong></em>
<br />
<br />

"If you do not have time for your health today, you will probably be forced to take time for your illness tomorrow."
<br />
- <em><strong>Unknown</strong></em>
<br />
<br />

"Total responsibility is total surrender."
<br />
- <em><strong>H.H. Sri Sri Ravi Shankar</strong></em>
<br />
<br />

"You see things; you say, 'Why?' But I dream things that never were; and I say 'Why not?'."
<br />
- <em><strong>George Bernhard Shaw</strong></em>
<br />
<br />

"It is not the strongest of the species that survives, not the most intelligent that survives. It is the one that is the most adaptable to change."
<br />
- <em><strong>Charles Darwin</strong></em>
<br />
<br />

"Take all the education you can get - a single world-class idea is all you need to save yourself years of unnecessary wear and tear."
<br />
- <em><strong>Anders Haglund</strong></em>
<br />
<br />

"What is important is how much service you can give the world and how much you can get done and how much better you can make things. These are important things. These are all that are important. A bank account never measured the worth of a man. His ability to help measured his worth and that's all. A bank account can assist one to help but where it ceases to do that it becomes useless."
<br />
- <em><strong>L. Ron Hubbard, founder of Scientology</strong></em>
<br />
<br />

"As long as you don't forgive, who or whatever it is will occupy rent-free space in your mind."
<br />
- <em><strong>Isabelle Holland, award winning author of 28 books</strong></em>
<br />
<br />

"I have more than enough time, space and energy for what is important to me."
<br />
- <em><strong>Louise L Hay</strong></em>
<br />
<br />

"No one should be ashamed to admit he is wrong, which is but saying, in other words, that he is wiser today than he was yesterday."
<br />
- <em><strong>Alexander Pope</strong></em>
<br />
<br />

"But it was true. Not only did the energy know where to go and what to do without the slightest instruction from me; the more I got my attention out of the picture the more powerful the response. Some of the greatest healings occurred when I was thinking about my grocery list. The audacity!"
<br />
- <em><strong>dr Eric Pearl</strong></em>
<br />
<br />

"Whenever you find yourself on the side of the majority, it's time to pause and reflect."
<br />
- <em><strong>Mark Twain</strong></em>
<br />
<br />

"I said "Somebody should do something about that." Then I realized I was somebody."
<br />
- <em><strong>Lily Tomlin</strong></em>
<br />
<br />

"The way to get things done is not to mind who gets the credit for doing them."
<br />
- <em><strong>Benjamin Jowett</strong></em>
<br />
<br />

"What is your pain stopping you from doing?  That is what you really want to do!  It is the belief you have inside of you that stops you."
<br />
- <em><strong>Lise Bourbeau</strong></em>
<br />
<br />

"If you are nearsighted it is because you do not like what you see in the mirror."
<br />
"If you are farsighted it is because you do not like what you see in the future."
<br />
- <em><strong>Lise Bourbeau</strong></em>
<br />
<br />

"Allow yourself to be lazy (if you really want to be like that).  Maybe a creative idea can come from that moment."
<br />
- <em><strong>Lise Bourbeau</strong></em>
<br />
<br />

"Freedom is actually a bigger game than power. Power is about what you can control. Freedom is about what you can unleash."
<br />
- <em><strong>Harriet Rubin</strong></em>
<br />
<br />

"It's kind of fun to do the impossible."
<br />
- <em><strong>Walt Disney</strong></em>
<br />
<br />

"All truth passes through three stages. First, it is ridiculed. Second, it is violently opposed. Third, it is accepted as being self-evident."
<br />
- <em><strong>Arthur Schopenhauer</strong></em>
<br />
<br />

"If you are a seeker, that usually means that you are seeking something outside of yourself.  But what you are really seeking is you, or inside of you."
<br />
- <em><strong>Jennifer McLean</strong></em>
<br />
<br />

"The question is not to know what is the meaning of life, but what meaning I can give to my life."
<br />
- <em><strong>Dalai Lama</strong></em>
<br />
<br />

"No pessimist ever discovered the secret of the stars, or sailed to an uncharted land, or opened a new doorway to the human spirit."
<br />
- <em><strong>Helen Keller</strong></em>
<br />
<br />

"The seer of the unseen asked the only Teacher in the room: Why am I the one who sees? —and Love answered: Because you are the one who is looking."
<br />
- <em><strong>Heather K. O’Hara</strong></em>
<br />
<br />

"Fighting for peace is like screwing for virginity."
<br />
- <em><strong>George Carlin</strong></em>
<br />
<br />

"When I look back on all these worries I remember the story of the old man who said on his deathbed that he had had a lot of trouble in his life, most of which had never happened."
<br />
- <em><strong>Winston Churchill</strong></em>
