/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* added BEGIN 2021-06-28 */
i{

}
.dropdownbutton {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    /* 
    font-size: 20px; 
    font-weight: bolder;          
    padding: 10px;
    */
}
/* REMOVED 2021-06-28     position: absolute; */
.sl-nav{
    display: inline-block;
    position: relative;
}


.sl-nav:hover .triangle{
    display: inline-block;
}

.navbar-wrapper {
    align-items: center;
}

.triangle{
    top: 100%;
    left: 0%;
    position: absolute; 
    background-color: azure;
    width: 180px;
    display: none;
}
.triangle a{
    display: block; 
    color: blueviolet; 
    text-decoration: none;
    padding: 10px;
}

    .triangle a:hover {
        background-color: blueviolet;
        color: white;
    }

/* added END 2021-06-28 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}  

nav#nav-wrapper li.sl-nav a {
    padding-right: 40px;
    position: relative;
    z-index: 1;
}

nav#nav-wrapper li.sl-nav:after {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 16px;
}

nav#nav-wrapper a {
    display: block;
    padding: 20px;
    color: #555;
    text-decoration: none;
}

nav#nav-wrapper > ul > li {
    display: inline;
    float: left;
}

nav#nav-wrapper ul ul {
    display: none;
}

 */
